/* -------------------- */
/* BASIC SETUP */
/* -------------------- */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Julius Sans One', sans-serif;
}


/* -------------------- */
/* NAV BAR */
/* -------------------- */
.nav  {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 50px;
  z-index: 2;

}
.nav li {
  display: block;
  float: right;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-right: 40px;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  opacity: 0.9;
  transition: all .2s ease-in-out;
}

nav p {
  font-size: 1.4rem;
  float: left;
  padding-top: 14px;
  padding-left: 25px;
  color: #ffffff;
}

.nav li:hover {
  color: rgb(218, 147, 42);
  transform: scale(1.05);
  cursor: pointer;
}

/* -------------------- */
/* HEADER */
/* -------------------- */


header {
  background-image: linear-gradient(to right, rgba(0,0,0,0.0), rgba(0,0,0,0)), url(resources/img/fondo2.jpg);
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

#overlay {
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(85, 87, 88, 0.2);
  z-index: 1; 
}
.headerBlock {
  position: absolute;
  top: 30%;
  left: 10%;
}

h1,
h2 {
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 8px #000000;
}

h1 {
  font-size: 82px;
  margin: 0;
  width: 100%;
  font-weight: 100;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 3.0px;
  text-transform: uppercase;
  padding: 10px 0;
  margin-top: 3px;
  width: 100%;
  
}

hr {
  border: none;
  height: 20px;
  width: 46%;
  height: 48px;
  margin-top: 0;
  border-bottom: 1.2px solid #fff;
  box-shadow: 0 18px 27px -19px black;
  margin: -34px auto 11px
}

/* -------------------- */
/* NOSOTROS */
/* -------------------- */

.nosotros {
  height: 100vh;
  background-image: linear-gradient(to left, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(resources/img/black.jpg);
  /* background-image: linear-gradient(to left, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(resources/img/nosotros8.jpg); */
}

h3 {
  color: rgb(250, 241, 241);
  opacity: 0.9;
  text-shadow: none;
  font-size: 200%;
  letter-spacing: 4px;
  text-align: center;
  padding: 5%;
  text-transform: uppercase;
  text-shadow: 3px 3px 8px #000000;
}

h3:after {
  display: block;
  height: 1px;
  background-color: rgb(218, 147, 42);
  content: "";
  width: 150px;
  margin: 0 auto;
  margin-top: 30px;
}

/* .nosotros-historia li {
  list-style-type: none;
  font-size: 10px;
  text-shadow: 3px 3px 8px #000000;
  color: rgb(226, 220, 220);
  text-shadow: 4px;
} */

.flex-container {
  /* width: 1000px; */
  width: 80%;
  height: 50%;
  /* background-color: #fff; */
  padding: 3px;
  /* border: 0.2px solid #fff;  */
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.flex {
  color: rgb(250, 241, 241);
  opacity: 0.75;
  margin: 0;
  width: 28%;
  /* background-color: #E67E22; */
  text-align: center;
  letter-spacing: 2px;
  font-size: 19px;
  /* text-align: center; */
}



